@import '~assets/scss/_fonts.scss';
@import '~assets/scss/_templates.scss';

* {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: $color-text-secondary;
  letter-spacing: 0.0125rem;
}

body {
  background-color: $color-bg-common;
}

h2 {
  font: {
    size: 1.5rem;
    weight: $fw-bold;
  }
  color: $color-text-primary;
  margin-block: 0;
}

h4 {
  font-size: 1.125rem;
  color: $color-text-primary;
  margin-block: 0;
}

.container {
  margin-inline: $container-indent;
}

.icon-button {
  @extend %icon;
}

.button {
  @extend %button;

  // type
  &_primary {
    color: $color-fg-secondary;
    background-color: $color-bg-primary;
  }

  &_secondary {
    color: $color-fg-primary;
    background-color: $color-bg-secondary;
  }

  &_not-selected, &_disabled {
    color: $color-text-secondary;
    background-color: initial;
  }

  &_iconed {
    i {
      @extend %icon;
      margin-right: 1rem;
    }
  }

  // size
  &_small {
    font: {
      size: 1rem;
      weight: $fw-medium;
    }
    padding-block: 0.625rem;
  }
}

.icon {
  &_filter {
    background-image: url($images-source + 'filter.svg');
  }

  &_pink-card {
    background-image: url($images-source + 'card_pink.svg');
  }
}
