@import '~assets/scss/_fonts.scss';
@import '~assets/scss/_templates.scss';

* {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  letter-spacing: 0.0125rem;
}

body {
  background-color: $color-bg-common;
}

p {
  color: $color-text-secondary;
}

h2, h4, p {
  margin-block: 0;
}

h2, h4 {
  color: $color-text-primary;
}

h2 {
  font: {
    size: 1.5rem;
    weight: $fw-bold;
  }
}

h4 {
  font-size: 1.125rem;
}

.container {
  margin-inline: $container-indent;
}

button {
  &.el-button--primary {
    display: block;
    width: 100%;
    padding-block: 0.8125rem;
    box-shadow: 0 1rem 1rem -1rem $color-bg-primary;
    border-radius: 0.625rem;
    font-size: 1.25rem;
  }
}
