// colors
$color-fg-primary: #FF054D;
$color-fg-secondary: #FFFFFF;
$color-fg-disabled: #D4D4D4;

$color-text-primary: #454545;
$color-text-secondary: #A0A0A0;

$color-bg-primary: #FF316D;
$color-bg-secondary: #FFECF1;
$color-bg-common: #FFFFFF;

// font-weights
$fw-black: 900;
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
$fw-extra-light: 100;

// sizes
$container-indent: 1.25rem;

// paths
$images-source: '~assets/images/';
